* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: chocolate;
}
.box3 {
  background-color: green;
}
.box4 {
  background-color: yellow;
}
.box5 {
  background-color: cadetblue;
}
.box6 {
  background-color: rgb(42, 55, 167);
}
.box7 {
  background-color: rgb(124, 118, 38);
}
.box8 {
  background-color: rgb(94, 15, 110);
}
.box9 {
  background-color: rgb(214, 18, 110);
}
